
# dependencies
frontend/node_modules

# next.js
frontend/.next/

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
frontend/.env*

# typescript
*.tsbuildinfo
frontend/next-env.d.ts
